<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .leads {
            margin: 10px 10px;
            padding: 10px;
            background-color: bisque;
        }
    </style>
</head>

<body>
    <h3>Leads :</h3>
    {% for lead in leads %}
    <div class="leads">
        <a href="/leads/{{ lead.pk }}/">{{lead.first_name}} {{lead.last_name}}</a> Age : {{lead.age}}
    </div>
    {% endfor %}
</body>

</html>